<% include ../partials/header %>
    <div class="content">
        <section class="main-content">
            <% if ((event.endTime.getTime() - Date.now()) >= 0){%>
            <section class="event-show event-hero">
                <object data="<%=event.cover%>" type="image/webp" style = "background">
                    <img src="<%=event.coverFallback%>">
                </object>
            <% } else {%>
            <section id="expired-hero" class="event-show event-hero">
                <section>
                    <span>OOPS! THIS EVENT HAS ENDED :(</span>
                </section>
            <% } %>
                
            </section>
            <section class="event-show event-info">
                <div class="container">
                    <ul class="nav">
                        <li class="event-name"><%=event.name.toUpperCase()%></li>
                        <li class="event-description">
                            <article id="description" style="overflow:hidden">
                                <%=event.description%>
                            </article>
                            <a href="https://www.facebook.com/events/<%=event.fbId%>/" target="_blank">
                                SEE FACEBOOK EVENT PAGE
                            </a>
                        </li>
                        <li class="event-times-place">
                            <ul class="nav">
                                <li id="times">
                                    <span class="glyphicon glyphicon-time"></span><%=event.startTime.toDateString().toUpperCase()%> (<%=event.startTime.toLocaleTimeString()%>) - <%=event.endTime.toDateString().toUpperCase()%> (<%=event.endTime.toLocaleTimeString()%>)
                                </li>
                                <li id="place">
                                    <span class="glyphicon glyphicon-map-marker"></span><%=event.place.toUpperCase()%>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </section>
        </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!--<script type="text/javascript" src="../../../resources/js/showLess.js"></script>-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Readmore.js/2.2.0/readmore.min.js"></script>
    <script>
        $('article').readmore({embedCSS: false});
    </script>
<% include ../partials/footer %>