<% include ../partials/header %>
    <div class="content">
        <section class="main-content">
            <section class="event-show event-hero">
                <object data="<%=event.cover%>" type="image/webp">
                    <img src="<%=event.coverFallback%>">
                </object>
            </section>
            <section class="event-show event-info">
                <div class="container">
                    <ul class="nav">
                        <li id="event-name"><%=event.name.toUpperCase()%></li>
                        <li id="event-description">
                            <span class="more">
                                <%=event.description%>
                            </span>
                        </li>
                        <li class="event-times-place">
                            <ul class="nav">
                                <li id="times">
                                    <span class="glyphicon glyphicon-time"></span><%=event.startTime.toDateString().toUpperCase()%> - <%=event.endTime.toDateString().toUpperCase()%>
                                </li>
                                <li id="place">
                                    <span class="glyphicon glyphicon-map-marker"></span><%=event.place.toUpperCase()%>
                                </li>
                            </ul>
                        </li>
                        <li id="facebook">
                            alsdjfal;dsf
                        </li>
                    </ul>
                </div>
            </section>
        </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="../../../resources/js/showLess.js"></script>
<% include ../partials/footer %>