<% include partials/header %>
    <section class="toolbar">
        <div class="text-center">
            <div id="filters" class="btn-group btn-group-lg" role="group">
                <button type="button" class="btn btn-default btn-responsive is-checked" data-filter="*">All Events</button>
                <button type="button" class="btn btn-default btn-responsive" data-filter=".not-expired">Upcoming<br>Ongoing</button>
                <button type="button" class="btn btn-default btn-responsive" data-filter=".audition">Audition</button>
                <button type="button" class="btn btn-default btn-responsive" data-filter=".workshop">Workshop</button>
                <button type="button" class="btn btn-default btn-responsive" data-filter=".other">Misc</button>
            </div>
        </div>
    </section>
    <div class="content">
        <section class="main-content">
            <section class="teams">
                <div>
                    <h2>TEAMS NEAR YOUR AREA</h2>
                </div>
                <div class="container">
                    <div id="team-box">
                        <ul class="nav">
                            <% teams.forEach(function(team,index){ %>
                                <% if(index<4){%>
                                    <li>
                                        <a href="/teams/<%=team._id%>">
                                            <%=team.name.toUpperCase()%>
                                        </a>
                                    </li>
                                <% } %>
                            <% }) %>
                            <% if(teams.length>4){%>
                                <li>
                                    <a href="<%- url -%>/view-all">
                                        VIEW ALL
                                    </a>
                                </li>
                            <% }%>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="events">
                <div class="container">
                    <div class="grid">
                        <% var noEvents = true; %>
                        <% teams.forEach(function(team){ %>
                            <% team.events.forEach(function(event){ %>
                                <!--if event is expired-->
                                <% noEvents = false; %>
                                <% if ((event.endTime.getTime() - Date.now()) >= 0){%>
                                    <div class="grid-item <%= event.category %> not-expired" >
                                        <img class="gridThumbnail" src="<%= event.coverFallback %>" alt="TDC">
                                        <div class="hover-text">
                                            <a href="/teams/<%=team._id%>/<%=event._id%>">
                                                <div id="grid-text">
                                                    <div id="event-name"><%=event.name.toUpperCase()%></div>
                                                    <div id="team-name">HOSTED BY <span><%=event.hostName.toUpperCase()%></span></div>
                                                    <div id="start-date"><%=event.startTime.toDateString()%></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                <!---if event is not-expired-->
                                <% } else { %>
                                    <div class="grid-item <%= event.category %> expired" >
                                        <img class="gridThumbnail" src="<%= event.coverFallback %>" alt="TDC">
                                        <div class="hover-text">
                                            <a href="/teams/<%=team._id%>/<%=event._id%>">
                                                <div id="grid-text">
                                                    <div id="event-name"><%=event.name.toUpperCase()%></div>
                                                    <div id="team-name">HOSTED BY <span><%=event.hostName.toUpperCase()%></span></div>
                                                    <div id="start-date"><%=event.startTime.toDateString()%></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                <% } %>
                            <% }) %>
                        <% }) %>
                        <% if(noEvents){ %>
                            <div class="grid-item no-events-message">
                                <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                                <h2>NO EVENTS AVAILABLE</h2>
                            </div>
                        <% } %>
                    </div>
                </div>
            </section>
        </section>
    </div>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
    <script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.min.js"></script>
    <script async src="../resources/js/sort.js"></script>
<% include partials/footer %>