<!DOCTYPE html>
    <head>
        <meta name=viewport content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../stylesheets/local.css"/>
        <title>Dance Community Events near <%= nearby.baseCity %> | TheDanceCommunity</title>
    </head>
    <body>
        <!--Navbar-->
        <nav class="navbar navbar-static-top">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="navbar-brand" href="/">TDC</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
          </div>
        </nav>
        
        <section class="toolbar">
            <h2>Filter</h2>
            <div id="filters" class="button-group">
                <button class="button is-checked" data-filter="*">All Events</button>
                <button class="button" data-filter=".audition">Auditions</button>
                <button class="button" data-filter=".workshop">Workshops</button>
                <button class="button" data-filter=".other">Other</button>
            </div>
        </section>
        
        <div class="content">
            <h2> Teams around your area </h2>
            <div class="container">
                <section class="teams">
                    <div class="team-grid">
                        <% teams.forEach(function(team){ %>
                            <div class="grid-item <%= team.location %>">
                                <a href="#">
                                    <img class="teamThumbnail" src= "<%= team.profilePic%>"/>
                                </a>
                            </div>
                        <% }) %>
                    </div>
                </section>
                <section class="events">
                    <div class="event-grid">
                        <% teams.forEach(function(team){ %>
                            <% team.events.forEach(function(event){ %>
                                <div class="grid-item <%= event.category %>" >
                                    <a href="#">
                                        <img src= "<%= event.cover %>"/> 
                                    </a>
                                </div>
                            <% }) %>
                        <% }) %>
                    </div>
                </section>
            </div>
        </div>
        
        <footer>
            <div class="container">
                    <ul class="nav">
                        <li>Dance Teams</li>
                        <li>About</li>
                        <li>Link3</li>
                        <li>Link4</li>
                        <li>Link5</li>
                        <li>Link6</li>
                        <li>Link7</li>
                        <li>Link8</li>
                    </ul>
                </div>
        </footer>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.min.js"></script>
        <script src="../../resources/local.js"></script>
    </body>
</html>